		body{
            margin: 0;
            padding: 0;
        }

        .container{
            max-width: 100%;
            height: 45vh;
            background-image: linear-gradient(rgba(0,0,0,0.4)50%,rgba(0,0,0,0.4)50%),url(images/car-rentals1.png);
			background-size: cover;
			background-position: center;
        }

        .navbar{
            width: 88%;
            margin: 0 auto;
        }

        .navbar-brand{
            font-size: 25px;
            color: #fff;
        }
        
        .navbar-nav{
            margin: 0 auto;
           
        }

        .navbar-nav .nav-item{
            margin-right: 40px;
            position: relative;
            left: 80px;
        }

        .navbar-nav .nav-item .nav-link{
            color: #fff;
            font-size: 19px;
        }

        .navbar-nav .nav-item a:hover{
            color: #ff7200;
            transition: 0.4s ease-in-out;
        }
        
        .navbar .btn{
            color: #fff;
            height: 40px;  
            font-size: 19px;
            width: 100px;
            margin: 0;
        }

        .navbar .sign-btn{
            background: none;
            border: none;
            color: black;   
        }

        .navbar .reg-btn{
            background: none;
            border: none;
            background: #ff7200;
            
        }

        .navbar .sign-btn:hover{
            color: #fff;
            transition: 0.4s ease-in-out;
        }

        .navbar-toggler{
            border: 3px solid  #ff7200;
            background: #fff;
        }
		
		.content{
            color:#fff;
            width: 85%;
            margin: 0 auto;
		}
		
		.content .content-text{
			padding-top: 80px;
		}
		
		.content .content-text span{
			font-size:35px;
			font-weight: bold;
		}
		
		.content .content-text p{
			font-weight: bold;
			padding-top: 6px;
		}

        .main-page{
            font-family: Arial, Helvetica, sans-serif
        }

        .our-team{
            height: 80vh;
        }

        .our-team .our-team-content{
            width: 85%;
            margin: auto;
            padding-top: 130px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            gap: 35px;
        }

        .our-team .our-team-content .card{
            width: 330px;
			height: 500px;
			background: #fff;
         }

         .our-team .our-team-content .card .card-body{
            text-align: center;
            color: black;
            padding-top: 50px;
         }

         .our-team .our-team-content .card .card-body .card-title{
            font-weight: bold;
         }

         .our-team .our-team-content .card .card-body .card-text{
            color: #5a5a5a;
         }

        .book-a-car{
            width: 100%;
            height: 150px;
            background: black;
        }        
        
        .book-a-car .book-aCar-content{
            color: #fff;
            padding-top: 60px;
        }

        .book-a-car .book-aCar-text{
            font-size: 30px;
            text-align: center;
            justify-content: center;
            display: flex;
            gap: 30px;
        }

        .contact .company ul li{
            list-style: none;
            padding-bottom: 10px;
            position: relative;
            right: 35px;
         }

        .contact .company ul li a{
            text-decoration: none;
            color: black;
         }

         .contact .company ul li a:hover{
            color: #ff7200;
            transition: 0.4s ease-in-out;
         }

         .contact .carrental-info .reachables{
            color: black;
            font-weight: bold;
         }

         .contact .carrental-info p{
            color: #5a5a5a;
         }

         .contact h3{
			font-weight: bold;
		 }

        .contact .subscribe .subscribe-input{
            width: 230px;
            height: 40px;
            text-align: center;
            font-size: 18px;
            border: none;
            background: #e5e4e2;
         }

        .contact .subscribe .subscribe-button{
            position: relative;
            top: 50px;
            right: 233px;
            width: 230px;
            height: 45px;
            font-size: 18px;
            font-weight: bold;
            background: #ff7200;
            border: none;
            border-radius: 5px;
         }

         .contact .subscribe .subscribe-button:hover{
            background: black;
            transition: 0.6s ease-in-out;
         }

        .contact .subscribe .subscribe-button a{
            text-decoration: none;
            color: #fff;
         }

         .contact{
            margin-top: 150px;
            color: black;
         }

         .contact .contact-content{
            width: 89%;
            margin: auto;
            display: flex;
            gap: 120px;
            position: relative;
            left:40px;
         }

        

    /* Small screens (phones) */
    @media (max-width: 575px) {
        .our-team{
            height: 254vh;
        }

        .our-team .our-team-content {
            padding-top: 80px;
            display: block;
        }

        .our-team .our-team-content .card {
            width: 100%;
            margin: auto;
            margin-bottom: 20px;
            height: auto;
        }

        .book-aCar-text{
            display: flex;
            gap: 10px !important;
        }

        .book-aCar-text div{
            font-size:15px;
        }

        .contact-content{
            display: flex;
            flex-direction:column;
            gap: 20px !important; 
            position: relative;
            bottom: 60px;
           
        }

        .subscribe-button{
            position: relative;
            left: 2px;
        }
    }

     /* Medium screens (tablets) */
     @media (min-width: 576px) and (max-width: 991px) {
        .our-team{
            height: 202vh;
        }
        .our-team .our-team-content{
			display: flex;
            flex-direction:column;
            gap: 20px !important;
            align-items: center;
            position: relative;
            bottom: 30px;
         }

        .contact-content{
            display: flex;
            flex-direction:column;
            gap: 20px !important;
            position: relative;
            bottom: 100px; 
        }
      }

    /* desktop screens resolution 1280 x 1024 */
    @media screen and (width: 1280px) and (height: 1024px) {
        .container{
            height: 30vh;
        }

        .navbar-brand{
            font-size: 20px;
            color: #fff;
        }

        .navbar-nav .nav-item{
            margin-right: 10px;
            position: relative;
            left: 80px;
        }

        .navbar-nav .nav-item .nav-link{
            color: #fff;
            font-size: 17px;
        }

        .navbar .btn{
            color: #fff;
            height: 40px;  
            font-size: 15px;
            width: 100px;
            margin: 0;
        }

        .navbar .sign-btn{
            background: none;
            border: none;
            color: black;
            position: relative;
            left: 19px;
        }

        .navbar .reg-btn{
            background: none;
            border: none;
            background: #ff7200;  
        }

        .navbar .sign-btn:hover{
            color: #fff;
            transition: 0.4s ease-in-out;
        }

        .navbar-toggler{
            border: 3px solid  #ff7200;
            background: #fff;
        }

        .contact .subscribe .subscribe-button{
            position: relative;
            left: 3px;
        }

    }

    /* desktop screens resolution 1366 x 768 */
    @media screen and (width: 1366px) and (height: 768px) {
    
        .navbar-nav .nav-item{
            margin-right: 10px;
            position: relative;
            left: 80px;
        }

        .navbar-nav .nav-item .nav-link{
            color: #fff;
            font-size: 18px;
        }

        .navbar .btn{
            color: #fff;
            height: 40px;  
            font-size: 18px;
            width: 100px;
            margin: 0;
        }

        .navbar .sign-btn{
            background: none;
            border: none;
            color: black;
            position: relative;
            left: 10px;
        }

        .navbar .reg-btn{
            background: none;
            border: none;
            background: #ff7200;  
        }

        .navbar .sign-btn:hover{
            color: #fff;
            transition: 0.4s ease-in-out;
        }

        .navbar-toggler{
            border: 3px solid  #ff7200;
            background: #fff;
        }

        .our-team{
            height: 100vh;
        }

        .contact .subscribe .subscribe-button{
            position: relative;
            left: 3px;
        }
    }

    /* desktop screens resolution 1920 x 1080 */
    @media screen and (width: 1920px) and (height: 1080px) {

        .our-team{
             width: 85%;
             margin: 0 auto;
        }
  
         .contact .contact-content{
              width: 75%;
              margin: auto;
              display: flex;
              gap: 210px;
         }
  
         .contact-content .subscribe .subscribe-button{
              position: relative;
              left: 3px;
          }
          
       }

       /* desktop screens resolution 1234 x 650 */
       @media (width: 1234px) and (height: 650px) {
            .navbar-nav .nav-item{
                margin-right: 10px;
                position: relative;
                left: 80px;
            }
        
            .navbar-nav .nav-item .nav-link{
                color: #fff;
                font-size: 17px;
                position: relative;
                right: 20px;
            }
        
            .navbar .btn{
                color: #fff;
                height: 40px;  
                font-size: 17px;
                width: 100px;
                margin: 0;
            }
        
            .navbar .sign-btn{
                background: none;
                border: none;
                color: black;
                position: relative;
                left: 10px;
            }
        
            .navbar .reg-btn{
                background: none;
                border: none;
                background: #ff7200;  
            }
        
            .navbar .sign-btn:hover{
                color: #fff;
                transition: 0.4s ease-in-out;
            }
        
            .navbar-toggler{
                border: 3px solid  #ff7200;
                background: #fff;
            }

            .our-team{
                height: 115vh;
            }

            .contact .subscribe .subscribe-button{
                position: relative;
                left: 3px;
            }

        }